{% block pageDoctype %}<!DOCTYPE html>{% endblock %}
<html class="no-js{% block pageClasses %}{% endblock %}" lang="{% block pageLanguage %}en{% endblock %}">
	<head>
		<meta charset="utf-8" />
		<title>{% block pageTitle %}Welcome!{% endblock %}</title>
{% block pageMeta %}{% endblock %}
{% block pageStyles %}{% endblock %}
{% block pageScriptsPreLoad %}{% endblock %}
	</head>
	<body>
{% block pageBody %}{% endblock %}
{% block pageScriptsPostLoad %}{% endblock %}
	</body>
</html>

