{% extends 'TJMBaseBundle:base:skeletons/base.html.twig' %}

{% block pageMeta %}
{# tell mobile devices this site is designed for them #}
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block pageBody %}
<div class="wrapPage">
{%	block pageHeader %}
	<div id="pageHeader" class="wrapPageHeader" role="banner">
		<header class="pageHeader">
{%		block pageHeaderContent %}
			<div class="pageJumpTo jumpTo listLinksJump">
{%			block pageLinksJumpTo %}
				<a class="itemLinkJump" href="#pagenavigation">Jump to site navigation</a>
{%			endblock %}
			</div>
{%		endblock %}
		</header>
	</div>
{%	endblock %}
{%	block pageMain %}
	<div id="pageMain" class="wrapPageMain" role="main">
		<div class="pageMain">
			{% block pageMainContent %}{% endblock %}
		</div>
	</div>
{%	endblock %}
{%	block pageNavigation %}
	<div id="pageNavigation" class="wrapPageNavigation" role="navigation">
		<nav class="pageNavigation">
{%		block pageNavigationContent %}
			<h2>Site Navigation</h2>
{%		endblock %}
		</nav>
	</div>
{%	endblock %}
{%	block pageFooter %}
	<div id="pageFooter" class="wrapPageFooter" role="contentinfo">
		<footer class="pageFooter">
{%		block pageFooterContent %}
			<h2>Site Footer</h2>
{%		endblock %}
		</footer>
	</div>
{%	endblock %}
</div>
{% endblock %}
