//=====
//==settings
//=====/

//--
//=fonts
//--

$fontstackHelvetica= "Helvetica Neue", Arial, Helvetica, sans-serif;
$fontstackTimes= "Times", serif;


//=====
//==mixins
//=====/

//--
//=units
//--

//-set font size to px for old browsers, rem for new browsers
-font-size($integer)
	font-size: $integer * 1px
	font-size: $integer * 1rem
