//=====
//==settings
//=====/

//--
//=colors
//--
$colorLinkBase ?= blue
$colorLinkBaseActive ?= red
$colorLinkBaseVisited ?= purple


//=====
//==dependencies
//=====/

@import 'vendorPrefixes.styl'
@import 'fonts/base.styl'

//=====
//==base
//=====/

//--
//=containers
//--
html
	-box-sizing() //-use box model that includes padding and border
	margin: 0
	padding: 0
	font-size: 6.25% //-make em/rem equal px in normal browsers
	font-family: $fontstackHelvetica
	-text-size-adjust() //-on mobile devices, prevent text from auto resize on orientation change
body
th
td
	margin: 0
	padding: 0
	line-height: 1.4
	-font-size(16)
article
aside
details
figcaption
figure
footer
header
hgroup
nav
section
	display: block
table
	border-collapse: collapse
	border-spacing: 0
table
tr
td
	margin: 0
	padding: 0

//--
//=text structures
//--
a
	position: relative
	margin: 0
	text-decoration: none
	&:link
		color: $colorLinkBase
		&:before
			opacity: 0.25
			position: absolute
			bottom: 0.12em
			left: 0;
			width: 100%
			height: 1px
			background: @color
			content: ' '
	&:focus:before
	&:hover:before
		opacity: 1
	&:visited
		color: $colorLinkBaseVisited
		&:before
			background: @color
	&:active
		color: $colorLinkBaseActive
		&:before
			background: @color
h1
h2
h3
h4
h5
h6

	margin: 0 0 15px 0
	padding: 0
h1 a
h2 a
h3 a
h4 a
h5 a
h6 a
	color: inherit
p
	margin: 0 0 15px 0
	padding: 0
ul.plain
ol.plain
	margin: 0
	padding: 0
	list-style: none

//--
//=media
//--
audio
canvas
video
	display: inline
	display: inline-block
	zoom: 1
audio:not([control])
	display: none //-hide controllless audio elements
iframe
	border: 0
img
	border: 0 //-no borders, especially on hover
	vertical-align: middle
	-ms-interpolation-mode: bicubic //-fix resizing in IE7


//=====
//==reusable classes
//=====/

//--
//=accessibility
//--
.screenreaderonly
	display: inline
	position: absolute
	top: -9000px
	left: -9000px
	font-size: 0
	&:before
		display: none
		content: ''
.linkjump
	@extends .screenreaderonly
	&:active
	&:focus
	&:hover
		display: inline
		display: inline-block
		position: static
		z-index: 9999
		font-size: inherit
.listlinksjump
	a
		@extends .linkjump
.pagejumpto
	@extends .listlinksjump
	position: absolute
	top: 0
	left: 0
	width: 100%
	text-align: center

//--
//=positioning
//--
.clear
	clear: both
//-clear all floats after div
.clearafter
	zoom: 1 //-for UA IE 7 and below
	&:after
		display: block
		clear: both
		height: 0
		content: " "
.floatright
	float: right
.floatleft
	float: left


//=====
//==structure
//=====/

body
	@extends .clearafter
	margin: auto //-center on older browsers

//--
//=columns
//--
//-make columns equal height in older browsers
.ua-old .columns.equalheight
	overflow: hidden
	.column
		float: left
		margin-bottom: -32000px
		padding: 0 10px 32000px
		&.c-first
			border-left: none
			padding-left: 0
		&.c-last
			border-right: none
			padding-right: 0
.ua-new .columns
	-display-box()
	.column
		-box-flex(1)


//--
//=symfony
//--
.sf-toolbarreset
	left: 90% !important
	opacity: 0.3
	&:hover
		left: 0 !important
		opacity: 1.0
