//=====
//==settings
//=====/

$prefixesVendors ?= moz ms o webkit official

//=====
//==functions
//=====/

//-@based on nib: https://github.com/visionmedia/nib/blob/master/lib/nib/vendor.styl
fGenerateVendorPrefixedProperties($property, $arguments, $default = '', $only = null, $not = null)
	$arguments = $default if length($arguments) == 0
	for $prefix in $prefixesVendors
		unless ($only and !($prefix in $only)) or ($not and $prefix in $not)
			if $prefix == official
				{$property}: $arguments
			else
				{'-' + $prefix + '-' + $property}: $arguments

//-@based on nib
fGenerateVendorPrefixedValues($arguments, $default = '', $only = null, $not = null)
	$arguments = $default if length($arguments) == 0
	$property = current-property[0]
	for $prefix in $prefixesVendors
		unless ($only and !($prefix in $only)) or ($not and $prefix in $not)
			unless $prefix == official
				add-property($property, '-%s-%s' % ($prefix $arguments))
	$arguments



//=====
//==mixins
//=====/

-box-align()
	fGenerateVendorPrefixedProperties(box-align, arguments, $default: center, $only: moz webkit official)
-box-flex()
	fGenerateVendorPrefixedProperties(box-flex, arguments, $default: 0, $only: moz webkit official)
-box-ordinal-group()
	fGenerateVendorPrefixedProperties(box-ordinal-group, arguments, $default: 1, $only: moz webkit official)
-box-orient()
	fGenerateVendorPrefixedProperties(box-orient, arguments, $default: horizontal, $only: moz webkit official)
-box-pack()
	fGenerateVendorPrefixedProperties(box-pack, arguments, $default: center, $only: moz webkit official)
-box-sizing()
	fGenerateVendorPrefixedProperties(box-sizing, arguments, $default: border-box, $only: moz webkit official)
-column-count()
	fGenerateVendorPrefixedProperties(column-count, arguments, $only: moz webkit official)
-column-gap()
	fGenerateVendorPrefixedProperties(column-gap, arguments, $only: moz webkit official)
-column-rule()
	fGenerateVendorPrefixedProperties(column-rule, arguments, $only: moz webkit official)
-column-rule-color()
	fGenerateVendorPrefixedProperties(column-rule-color, arguments, $only: moz webkit official)
-display-box()
	display: fGenerateVendorPrefixedValues(box, $only: moz webkit)
-text-size-adjust()
	fGenerateVendorPrefixedProperties(text-size-adjust, arguments, $default: 100%, $only: ms webkit)
