{% extends 'TJMBaseBundle:skeletons:base.html.twig' %}

{% block docMeta %}
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
{{ parent() }}
{% endblock %}

{% block docBody %}
<div class="docBody">
{%	block docHeaderWrap %}
	<div class="docHeaderWrap" role="banner">
		<header class="docHeader">
{%		block docJumpWrap %}
			<div class="docJumpActions jumpActions">
{%			block docJump %}
				<a class="jumpAction" href="#docNav">Jump to site navigation</a>
{%			endblock %}
			</div>
{%		endblock %}
{%		block docHeader %}
{%		endblock %}
		</header>
	</div>
{%	endblock %}
{%	block docContentWrap %}
	<div class="docContent">
{%		block docMainWrap %}
		<div id="docMain" class="docMainWrap"><main class="docMain" role="main">
			{% block docMain %}{% endblock %}
		</main></div>
{%		endblock %}
		{% block docAside %}{% endblock %}
	</div>
{%	endblock %}
{%	block docNavWrap %}
	<div id="docNav" class="docNavWrap">
		<nav class="docNav" role="navigation">
{%		block docNav %}
			<h2>Site Navigation</h2>
{%		endblock %}
		</nav>
	</div>
{%	endblock %}
{%	block docFooterWrap %}
	<div id="docFooter" class="docFooterWrap">
		<footer class="docFooter" role="contentinfo">
{%		block docFooter %}
			<h2>Site Footer</h2>
{%		endblock %}
		</footer>
	</div>
{%	endblock %}
</div>
{% endblock %}
