{% extends '@TJMBase/skeletons/base.html.twig' %}

{% block pageBody %}
<div class="wrapPage">
{%	block pageMain %}
	<div id="pageMain" class="wrapPageMain" role="main">
		<div class="pageMain">
			{% block pageMainContent %}{% endblock %}
		</div>
	</div>
{%	endblock %}
</div>
{% endblock %}
